gymnasium==0.29.1+computecanada
hydra-core==1.3.2
numpy==2.0.0
omegaconf==2.3.0+computecanada
Pillow==10.4.0
pytorch_lightning==2.1.2+computecanada
setproctitle==1.3.2+computecanada
timm==0.4.12+computecanada
torch==2.3.0+computecanada
torchvision==0.18.0+computecanada
wandb==0.16.0+computecanada
